@import "../../vars.css";

.navbar {
    position: fixed;
    top: 0;
    left: -10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    z-index: 2;
    margin: 0 10%;
   background: linear-gradient(0deg, rgb(37, 69, 128) 100%,rgba(25, 41, 70, 0.99) 100% );
    padding-bottom: 30px;
        
    /* Add background color to avoid transparency issues */
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    font-family: "Playwrite US Modern", cursive;
    margin-left: 80px;
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 45px;
    list-style: none;
    margin-right: 45px;
}

.menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        /* Adjust padding for smaller screens */
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 15%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(25, 55, 109);
        background: linear-gradient(0deg, rgba(25, 55, 109, 0.2) 0%, rgba(25, 55, 109, 1) 100%);
        padding: 20px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }
}