.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 150vw;
    padding: 60px 10%;
    gap: 15px;
    margin-bottom: 30px;
    background: #304687;
}
.text h2
{font-family: "Playwrite US Modern", cursive;
font-size: 50px;
color:#030f4a;}
.text p
{font-family: "Playwrite US Modern", cursive;
font-size: 20px;}
.text {
    text-align: center;
    
}

.column {
    width: 100%;
    max-width: 400px;
    /* Ajuster la largeur maximale selon vos besoins */
}

.email {
    width: 100%;
    max-width: 250px;
    z-index: 1;
    
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
}
/*animation dimage*/
@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-family: "Playwrite US Modern", cursive;
    
}

.formGroup input[type="text"],
.formGroup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
        font-family: "Playwrite US Modern", cursive;
}

.submitBtn {
    background-color: #075ae8;
    color: rgb(15, 15, 15);
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.submitBtn:hover {
    background-color: #83a045;
}

.links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
    margin-left: -10px;
    
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link a {
    text-decoration: none;
    color: #0f0e0e;
        font-family: "Playwrite US Modern", cursive;
        font-size: 20px;
        
}

.icons1 {
    width: 20px;
    height: auto;
}

.icons {
    width: 20px;
    height: auto;
    margin-left: 40px;
}

.copyright {
    text-align: center;
    color: #666;
}