@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 150px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 60px 10%;
    gap: 15px;
    margin-bottom: 20px;
}

.text h2 {
    margin-top: 30px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: "Playwrite US Modern", cursive;
}

.text p {
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(237, 237, 122);
    font-family: "Playwrite US Modern", cursive;
}

.links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 23px; /* Corrected typo here */
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.icons {
    width: 10%;
}

.icons1 {
    width: 11%;
}

.copyright1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 20px; /* Corrected size to font-size */
}

.email {
    width: 50%;
    animation-name: floating;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 1;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 20px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 23px;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .links {
        align-items: center;
    }
}
