@import "../../vars.css";
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

 .title {
    font-size: 45px;
    margin-top: 150px;
    font-weight: 900;
    margin-left: 10%;
    font-family: "Playwrite US Modern", cursive;
   color:rgb(109, 130, 223);
}
.description {
    font-size: 23px;
    font-family: "Playwrite US Modern", cursive;
    margin-bottom: 52px;
    margin-right: 10px;
}
.content .stage1 {
    font-size: 28px;
    font-family: "Playwrite US Modern", cursive;
    
}
.expImg {
    margin-top: -95px;
    width: 23%;
    z-index: 1;
    animation-name: floating;
        animation-duration: 1.7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
}
/*animation dimage*/
@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, -0px);
    }
}
.container1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title1 {
    font-size: 45px;
    margin-top: 150px;
    font-weight: 900;
    margin-left: 10%;
    font-family: "Playwrite US Modern", cursive;
    color: rgb(109, 130, 223);
}

.description1 {
    font-size: 23px;
    font-family: "Playwrite US Modern", cursive;
    margin-bottom: 52px;
    margin-right: 10px;
}

.content1 .stage2 {
    font-size: 28px;
    font-family: "Playwrite US Modern", cursive;

}

