@import "../../vars.css";
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -18px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

 .title {
    font-size: 40px;
    margin-top: 150px;
    font-weight: 900;
   
    margin-left: 15%;
    font-family: "Playwrite US Modern", cursive;
   color:antiquewhite;
}
.description {
    font-size: 27px;
    font-family: "Playwrite US Modern", cursive;

    margin-bottom: 52px;
}
.expImg {
    margin-top: 20px;
    width: 28%;
    z-index: 1;
}