@import "../../vars.css";

.global {
    padding: 40px 0;
    border-radius: 15px;
    margin: 120px 10% 0;
}

.title {
    font-size: 35px;
        font-weight: 750;
    font-family: "Playwrite US Modern", cursive;
    color: rgb(248, 249, 252);
    text-align: center;
    margin-bottom: 50px;
}
.title1 {
color: var(--color-text);
    font-size: 15px;
    font-weight: 150;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: 'Sacramento', cursive;
    margin-left: 4%;
    text-align: center;
   
}

.experiencesContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
}

.experienceCard {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    width: 30%;
   
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experienceCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.expImg {
    width: 20%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.experienceContent {
    color: var(--color-text);
}

.experienceTitle {
    font-size: 23px;
    font-weight: 600;
    font-family: "Playwrite US Modern", cursive;
    margin-bottom: 15px;
}

.experienceDescription {
    font-size: 18px;
        margin-left: 2%;
        font-family: 'Sacramento', cursive;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        text-align: justify;
        color: #ded8d8;
}

@media screen and (max-width: 830px) {
    .experiencesContainer {
        flex-direction: column;
        align-items: center;
    }

    .experienceCard {
        width: 80%;
        margin-bottom: 20px;
    }
}
.techLabel {
   
    font-weight: bold;
    font-family: "Playwrite US Modern", cursive;
    display: inline;
    text-decoration: underline;
}


.techStack {
  
    font-weight: bold;
    font-size: 15px;
        font-weight: 150;
        font-family: 'Sacramento', cursive;
        
}