@import "../../vars.css";

.container {
    margin-top: 70px;
    color: var(--color-text);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7%;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Playwrite US Modern", cursive;
    margin-bottom: 10px;
    color: var(--color-text);
}

.subTitle {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 80px;
    text-align: center;
    font-family: "Playwrite US Modern", cursive;
    color: var(--color-text);
    margin-bottom: 20px;
}

.projects {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px;
   
}

.projects::-webkit-scrollbar {
    height: 10px;
}

.projects::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.projects::-webkit-scrollbar-track {
    background-color: transparent;
}