.container {
  margin: 120px 8%;
  text-align: center;
  color: var(--color-text);
}

.subtitle {
      font-family: "Sacramento", cursive;
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 5px;
}

.title {
  font-size: 40px;
    font-family: "Sacramento", cursive;
      margin-bottom: 10px;
}

.line {
  width: 120px;
  height: 3px;
  margin: 0 auto 30px;
}

.board {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.085);
}
.certWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.arrow {
  background: transparent;
  /* ❌ supprime le cercle */
  border: none;
  /* ❌ supprime la bordure */
  color: white;

  font-size: 38px;
  line-height: 1;

  padding: 0;
  /* pas d’espace inutile */
  cursor: pointer;
  transition: 0.3s ease;
}

.arrow:hover:not(:disabled) {
  color: rgba(188, 182, 68, 0.9);
  transform: scale(1.15);
}
.arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
/* SKILLS */
.skillArea {
  width: 55%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skillCategory h4 {
  font-size: 16px;
  margin-bottom: 4px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tags span {
  padding: 6px 12px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.07);
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: 0.25s ease-in-out;
}

.tags span:hover {
  background: rgba(188, 182, 68, 0.812);
  box-shadow: 0 3px 12px rgba(188, 182, 68, 0.812);
  transform: translateY(-2px) scale(1.03);
}

/* CERTIFICATIONS */
/* CERTIFICATIONS */
.certArea {
  width: 45%;
  text-align: left;
  /* Alignement titre à gauche */
}

.sectionTitleLeft {
  text-align: left;
  margin-bottom: 20px;
  opacity: 0.9;
}

.certImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 images par ligne */
  gap: 20px;
  justify-items: center;
}

.certImg {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certImg:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(188, 182, 68, 0.5);
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .board {
    flex-direction: column;
  }

  .skillArea,
  .certArea {
    width: 100%;
  }

  .certImages {
    grid-template-columns: repeat(2, 1fr);
    /* 2 images sur mobile */
  }
}