@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
   font-family: "Playwrite US Modern", cursive;
   
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 60px;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width:80px;
  height: 80px;
}

.skillImageContainer img {
  width:50px;
}

.skill p {
  font-size: 18px;
  font-family: var(--font-roboto);
  font-weight: 500;
      font-family: "Playwrite US Modern", cursive;
}
@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  
}