.container {
  color: var(--color-text);
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.slider {
  width: 45%;
  overflow: hidden;
  position: relative;
}

.slideTrack {
  animation: scroll $animationSpeed linear infinite;
  display: flex;

  width: calc(250px * $ {
      skills.length
    });
  /* Adjust according to your number of skills */
}

.slide {
  height: 100px;
  width: 250px;
}

.slide img {
  width: 100%;
  height: auto;
}

.history {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 15px;
  padding: 8px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 20px;
  font-weight: 500;
}

.historyItemDetails ul {
  margin-top: 6px;
  font-size: 18px;
  margin-left: 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * $ {
          skills.length
        }));
  }
}