.slider {
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  animation: infiniteScroll 10s linear infinite;
}

.slide {
  flex: 0 0 auto;
  padding: 0 10px;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50%));
  }
}